<h1>CRUISES</h1>

{{#each huts}}
<ul>
  <li>Name of ship: {{nameOfShip}}</li>
  <li>stars: {{stars}}</li>
  <li>price: {{price}}</li>
  <li>userRatings: {{userRatings}}</li>
  <li>extras:
    <ul>
      <li>wifi: {{extras.wifi}}</li>
      <li>newspaper: {{extras.stove}}</li>
      <li>breakfast: {{extras.stove}}</li>
    </ul>
  </li>
</ul>
{{/each}}