<h1>HOTELS</h1>

{{#each hotels}}
<ul>
  <li>hotel Name: {{name}}</li>
  <li>stars: {{stars}}</li>
  <li>price: {{price}}</li>
  <li>userRatings: {{userRatings}}</li>
  <li>extras:
    <ul>
      <li>wifi: {{extras.wifi}}</li>
      <li>newspaper: {{extras.newspaper}}</li>
      <li>breakfast: {{extras.breakfast}}</li>
    </ul>
  </li>
</ul>
{{/each}}